NeuroAgent.json
{
  "name": "NeuroAgent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        160,
        680
      ],
      "id": "63778deb-8598-46ca-9a31-4f66cc206323",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    sleepHours: 7.0\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        -160
      ],
      "id": "d83e7fcf-6cfb-4329-b0d4-57314a8edd13",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    heartRate: 72\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        -160
      ],
      "id": "076b74a6-65e5-40e5-8f59-78b5be3ea22a",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ayushsagrawal7249@gmail.com",
          "mode": "list",
          "cachedResultName": "ayushsagrawal7249@gmail.com"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        920,
        0
      ],
      "id": "ba95e1c1-37fa-4c4b-8eb0-3fcc855de971",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "KfrnVzegXdi9Kl1T",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1664563169",
        "text": "={{ $json[\"text\"] }}\n",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1540,
        260
      ],
      "id": "174c9ef1-182a-452c-ada9-1d110ad42e1f",
      "name": "Telegram",
      "webhookId": "79e44787-0c64-4c10-a1dc-ded61599acc1",
      "credentials": {
        "telegramApi": {
          "id": "6DKh80XEBtXZbh7F",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        40,
        0
      ],
      "id": "6a7193e5-0f51-49e3-af41-b47927b0aff4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/fitness/v1/users/me/dataset:aggregate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"aggregateBy\": [{\n    \"dataTypeName\": \"com.google.step_count.delta\"\n  }],\n  \"bucketByTime\": { \"durationMillis\": 86400000 },\n  \"startTimeMillis\": 1750962600000,\n  \"endTimeMillis\": 1751048999000\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "ef28e2a0-8882-4e8b-9de1-1ff24859a2ab",
      "name": "HTTP Request For step count",
      "credentials": {
        "googleOAuth2Api": {
          "id": "Fwu37lh5aw9pLoSn",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/fitness/v1/users/me/dataset:aggregate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"aggregateBy\": [{\n    \"dataTypeName\": \"com.google.sleep.segment\"\n  }],\n  \"bucketByTime\": { \"durationMillis\": 86400000 },\n  \"startTimeMillis\": 1750962600000,\n  \"endTimeMillis\": 1751048999000\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "bc1b90e0-a394-45d8-bad0-a5249b1b901e",
      "name": "HTTP Request for sleep",
      "credentials": {
        "googleOAuth2Api": {
          "id": "Fwu37lh5aw9pLoSn",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/fitness/v1/users/me/dataset:aggregate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"aggregateBy\": [{\n    \"dataTypeName\": \"com.google.heart_rate.bpm\"\n  }],\n  \"bucketByTime\": { \"durationMillis\": 86400000 },\n  \"startTimeMillis\": 1750962600000,\n  \"endTimeMillis\": 1751048999000\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        0
      ],
      "id": "19a58b61-23cb-425b-8d00-6b051b5b0f7d",
      "name": "HTTP Request for heart rate",
      "credentials": {
        "googleOAuth2Api": {
          "id": "Fwu37lh5aw9pLoSn",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=GEMINI_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"I walked {{$node[\"HTTP Request For step count\"].json[\"bucket\"][0][\"dataset\"][0][\"point\"][0][\"value\"][0][\"intVal\"]\n}} steps, slept {{$json[\"sleep\"]}} hours, and have these tasks: {{$json[\"tasks\"]}} and my heart rate is {{$json[\"heartRate\"]}}. Suggest the best task to do now for productivity.\"\n    }]\n  }]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        0
      ],
      "id": "a842b471-adb9-4cb8-9d43-d3cd0fcf98a5",
      "name": "HTTP Request for gemini api"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  steps: $node[\"HTTP Request For step count\"].json[\"steps\"],\n  // sleep: $node[\"HTTP Request for sleep\"].json[\"sleep\"],\n  // heartRate: $node[\"HTTP Request for heart rate\"].json[\"heartRate\"],\n  tasks: $node[\"Google Calendar\"].json[\"summary\"], // or array if multiple tasks\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        200
      ],
      "id": "32346169-4752-4d0a-a9b5-9db4e26f0c33",
      "name": "Code2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let text = $json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"];\n\n// Step 1: Convert **bold** to *bold* for Telegram\ntext = text.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n\n// Step 2: Replace lines starting with * with -\ntext = text.split('\\n').map(line => {\n    if (line.trim().startsWith('* ')) {\n        return line.replace('* ', '- ');\n    }\n    return line;\n}).join('\\n');\n\n// Step 3: Escape Telegram MarkdownV2 special characters, excluding * and _ for formatting\nfunction escapeMarkdownV2(text) {\n    return text\n        .replace(/_/g, '\\\\_')\n        .replace(/\\[/g, '\\\\[')\n        .replace(/\\]/g, '\\\\]')\n        .replace(/\\(/g, '\\\\(')\n        .replace(/\\)/g, '\\\\)')\n        .replace(/~/g, '\\\\~')\n        .replace(/`/g, '\\\\`')\n        .replace(/>/g, '\\\\>')\n        .replace(/#/g, '\\\\#')\n        .replace(/\\+/g, '\\\\+')\n        .replace(/-/g, '\\\\-')\n        .replace(/=/g, '\\\\=')\n        .replace(/\\|/g, '\\\\|')\n        .replace(/{/g, '\\\\{')\n        .replace(/}/g, '\\\\}')\n        .replace(/\\./g, '\\\\.')\n        .replace(/!/g, '\\\\!');\n}\n\nconst escapedText = escapeMarkdownV2(text);\n\nreturn {\n    text: escapedText\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ],
      "id": "80e79482-e947-472a-994b-ab25d183aa3b",
      "name": "Code3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "Code1": {
      "main": [
        []
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request For step count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request For step count": {
      "main": [
        [
          {
            "node": "HTTP Request for sleep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request for sleep": {
      "main": [
        [
          {
            "node": "HTTP Request for heart rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request for heart rate": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request for gemini api": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "HTTP Request for gemini api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03924bd2-8cbc-4051-87a5-33e69aae6735",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35ce7b3852f994743e111503ac8e380a68312e27bdf4792e04f98e1338034668"
  },
  "id": "S1potzRDANUwcqp6",
  "tags": []
}